@charset "UTF-8";
* {
  transition: 0.5s;
  font-family: 微軟正黑體;
}

nav.navbar {
  font-size: 18px;
  margin-right: -120px;
}

nav.navbar.navbar-default.navbar-fixed-top.navbar-top {
  background-color: transparent;
  font-size: 20px;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top a {
  color: white;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
}

p {
  font-size: 16px;
  letter-spacing: 1px;
}

header.jumbotron {
  background-image: url(https://github.com/ymj-cty12/cty12/blob/master/img/10.jpg?raw=true);
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  margin-bottom: 0px;
}
header.jumbotron .container {
  text-align: center;
  color: white;
  padding: 100px 0px;
}
header.jumbotron .container img {
  width: 70%;
  display: block;
  margin: -180px auto;
}
header.jumbotron .container h1 {
  font-size: 50px;
}
header.jumbotron .container h2 {
  font-size: 30px;
}
header.jumbotron .container .button {
  display: block;
  width: 18%;
  font-size: 24px;
  font-weight: bold;
  background-color: #D2D339;
  color: #171936;
  border: solid 1px #D2D339;
  padding: 2px;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 50px 0px;
}

section#section_about {
  background-color: #171936;
  color: #EEF8FA;
}
section#section_about h2 {
  color: #D2D339;
}
section#section_about .img_wrap {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
section#section_about img {
  width: 100%;
  margin-left: -50px;
  margin-top: -20px;
}

section#section_activities {
  text-align: center;
  position: relative;
}
section#section_activities img {
  width: 95%;
  margin-top: 30px;
}
section#section_activities img:hover {
  width: 100%;
}
section#section_activities h1 {
  text-align: left;
}

section#section_courses {
  background-color: #D2D339;
  color: #171936;
  text-align: center;
  cursor: default;
  position: relative;
}
section#section_courses h1 {
  text-align: left;
}
section#section_courses .cs h4 {
  color: #555;
}
section#section_courses .cs p {
  position: relative;
  opacity: 0;
  height: 0px;
  transform: translateY(-20%);
}
section#section_courses .cs:hover h4 {
  opacity: 0;
  transform: translateY(-30%);
}
section#section_courses .cs:hover p {
  opacity: 1;
  height: 120px;
}
section#section_courses .img_wrap {
  height: 200px;
  width: 200px;
  margin: 0px auto;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}
section#section_courses img {
  width: 120%;
  height: 200px;
}
section#section_courses .img1 {
  margin-left: -35px;
}
section#section_courses .img3 {
  width: 100%;
}

section#section_internship {
  background-color: #171936;
  color: #EEF8FA;
}
section#section_internship hr {
  width: 110%;
}
section#section_internship .title {
  display: inline-block;
}
section#section_internship h3 {
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.8);
}
section#section_internship .intern {
  cursor: pointer;
  border: solid 2.5px #D2D339;
  padding: 16px;
  text-align: center;
  width: 55%;
  margin: 15px auto;
  color: #EEF8FA;
}
section#section_internship .discrition_wrap {
  margin-top: 15px;
  border: solid 1px white;
  width: 650px;
  height: 450px;
  overflow: hidden;
}
section#section_internship .discription_img {
  margin: 0px 0px auto auto;
  background-size: cover;
  background-image: url(https://scontent-tpe1-1.xx.fbcdn.net/v/t31.0-8/16992214_1403626656379320_6156250274119294727_o.jpg?oh=55f0d866cda3e51a19d7606119556f73&oe=5968F573);
  width: 650px;
  height: 450px;
}
section#section_internship .discription_text {
  width: 120%;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
}

section#section_CTY12 img {
  width: 100%;
}
section#section_CTY12 .top2 {
  margin-top: -50px;
}
section#section_CTY12 .img_wrap {
  height: 300px;
  overflow: hidden;
}
section#section_CTY12 .logo {
  width: 60%;
}
section#section_CTY12 .img_wrap1 {
  height: 120px;
  overflow: hidden;
}
section#section_CTY12 .logo1 {
  width: 80%;
  display: block;
  margin-top: 18px;
}
section#section_CTY12 .logo2 {
  margin-left: -10px;
  margin-top: 12px;
}

section#section_team {
  background-color: #D2D339;
}
section#section_team .img_wrap {
  width: 350px;
  height: 230px;
  margin: 20px auto;
  overflow: hidden;
}
section#section_team .img_wrap .wrap_10 {
  background-color: white;
}
section#section_team .img_wrap .img2 {
  width: 120%;
  margin-left: -30px;
}
section#section_team .img_wrap .img4 {
  width: 160%;
  margin-left: -100px;
}
section#section_team .img_wrap .img7 {
  width: 120%;
  margin-left: -20px;
}
section#section_team .img_wrap .img8 {
  width: 160%;
  margin-left: -100px;
}
section#section_team .img_wrap .img9 {
  width: 140%;
  margin-left: -80px;
  margin-top: -20px;
}
section#section_team .img_wrap .img10 {
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
}
section#section_team .img_wrap .img11 {
  width: 140%;
  margin-left: -70px;
  margin-top: -20px;
}
section#section_team .img_wrap .img13 {
  width: 150%;
  margin-left: -90px;
  margin-top: -40px;
}
section#section_team .img_wrap .img14 {
  width: 150%;
  margin-left: -100px;
  margin-top: -30px;
}
section#section_team .img_wrap .img15 {
  width: 100%;
  margin-left: 0px;
  margin-top: -40px;
}
section#section_team .img_wrap .img17 {
  width: 120%;
  margin-left: -30px;
  margin-top: -30px;
}
section#section_team img {
  width: 100%;
}
section#section_team .image-caption-wrapper {
  position: absolute;
  top: auto;
  bottom: 20px;
  left: auto;
  right: auto;
  padding: 0px 18px;
  background: rgba(23, 25, 54, 0.7);
  width: 350px;
  box-sizing: border-box;
  overflow: hidden;
}
section#section_team .image-caption-wrapper .image-caption {
  color: #EEF8FA;
  margin-bottom: 0px;
  padding-top: 10px;
}

.hide {
  display: hide;
}

.block {
  display: block;
}

section#QA {
  background-color: #171936;
  color: #EEF8FA;
}


section#sponsers{
  background-color: white;
}

section#sponsers img{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  

}

footer.jumbotron {
  position: relative;
  background: url(https://github.com/ymj-cty12/cty12/blob/master/img/10.jpg?raw=true);
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0px;
}
footer.jumbotron .container {
  text-align: center;
  color: white;
  padding: 0px;
}
footer.jumbotron .container .img_wrap {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
footer.jumbotron .container img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
}
footer.jumbotron .container .button {
  display: block;
  width: 18%;
  font-size: 24px;
  font-weight: bold;
  background-color: #D2D339;
  color: #171936;
  border: solid 1px #D2D339;
  padding: 2px;
  border-radius: 5px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1000px) {
  .nav.navbar-nav.navbar-right {
    position: absolute;
    display: none;
    margin-left: auto;
    margin-right: auto;
  }
  .nav.navbar-nav.navbar-right li {
    font-size: 18px;
  }
  .nav.navbar-nav.navbar-right .p8 {
    display: none;
  }

  header.jumbotron {
    height: 550px;
  }
  header.jumbotron img {
    min-width: 600px;
  }
  header.jumbotron h1 {
    margin-top: 60px;
  }

  section#section_about {
    padding: 30px 10px;
  }
  section#section_about .img_wrap {
    position: static;
    width: 500px;
    margin: 0 auto;
    height: 450px;
  }
  section#section_about img {
    margin-left: 0px;
  }

  section#section_courses .cs {
    height: 350px;
  }

  section#section_internship .discrition_wrap {
    width: 100%;
    min-width: 650px;
    margin: 0px auto;
  }
  section#section_internship .discrition_wrap .discription_img {
    width: 100%;
    margin: 0 auto;
  }
  section#section_internship .discription_text {
    width: 100%;
  }

  section#section_CTY12 .img_wrap1 {
    margin: -35px 0px;
  }
  section#section_CTY12 img.top2 {
    height: 250px;
  }
  section#section_CTY12 .img_wrap {
    height: 230px;
    overflow: hidden;
  }

  footer.jumbotron {
    height: 550px;
    position: relative;
  }
  footer.jumbotron .img_wrap {
    min-width: 500px;
  }
  footer.jumbotron .img_wrap img {
    margin-top: 0px;
  }
}
