nav.navbar.navbar-default.navbar-fixed-top.navbar-top
  .container
    .navbar-header
      a.navbar-brand 
    .navbar-collapse.collapse
      .nav.navbar-nav.navbar-right
        li.p1
          a(href="#section_about") 關於我們
        
        li.p4
          a(href="#section_internship") 實習計畫
        
        
        li.p6
          a(href="#section_team") 籌備團隊
        
        
        li.p2
          a(href="#section_activities") 活動介紹
        
        li.p5
          a(href="#section_CTY12") 主辦單位
          
        li.p3
          a(href="#section_courses") 課程介紹 
        li.p8
           a(href="https://www.himelight.com/org/cty", target='_new') 立即報名
          
          
     
        
        //- li.p7
        //-   a(href="#QA") 報名須知



header.jumbotron
  
  .container
    img(src="https://ymj-cty12.github.io/cty12/img/5.png", alt="")
    h1.top 創異 Trans for Unicorn
    h2.sub 第十二屆玉山青年菁英論壇
    h2.sub 2017.6.26~2017.6.30
    a.button(title="面試報名至4/26，筆試報名至5/7!!" ,href="https://www.himelight.com/org/cty", target='_new') 立即報名
    

section#section_about
  .container
    .row
      .col-sm-12
        h1 關於我們
        hr
      .col-md-6.col-sm-12
        .img_wrap
          img(src="https://ymj-cty12.github.io/cty12/img/7.png", alt="") 
      
      .col-md-6.col-sm-12
       h2 主題意義
       p   第十二屆玉山青年菁英論壇CTY12的主題為「創異 - Trans for Unicorn」。「創」字代表貫穿CTY營隊的核心價值——「創業」、「創新」。「異」，則是取「創意」的諧音，期許學員不落窠臼，透過營期間與同儕合作、腦力激盪的過程，「創」造出「異」於常人的思考能力，得到敢於與他人不同的勇氣和想法。「Trans for Unicorn」則是希望學員們的創業想法都能成為獨特的「Unicorn」，同時也取矽谷中提到的「Unicorn」 一詞，意即那些估值達到10億美元以上的獨角獸公司。 

       h2 營隊宗旨
       p 鼓勵學員們重新思考，在五天四夜的營隊中，了解何謂創業、商業模式、idea發想，在團隊合作下完成創業競賽，並在最後一天發表。
       h2 特色
       p CTY12將承襲一貫的傳統，邀請來自不同領域、不同背景的優秀菁英學者參與營隊活動，使學員可以透過產學交流、創業競賽，激勵自我的成長，「Transform」成一隻有著獨一無二想法的「Unicorn」!

section#section_activities

  .container
    .row
      .col-sm-12
        h1 活動介紹
        hr
      .col-md-12
        .col-md-6.col-sm-12


          img.ac(src="https://ymj-cty12.github.io/cty12/img/9.jpg", alt="")
          h2 創業競賽
          .classinfo
            p CTY的整體主軸，學員們將會分組進行創業提案，親身模擬創業歷程，讓學員學習團隊合作、並體驗創業者的思維，培養組織與自我的創新精神。
        .col-md-6.col-sm-12

          img.ac(src="https://ymj-cty12.github.io/cty12/img/1.jpg", alt="")
          h2 玉山之夜
          p 邀請業界多位高階經理人與學員交流， 並劃分出多元的領域，讓學員能跨領域接觸，抓緊機會，透過餐會的形式，讓你近距離地與你未來想從事工作的相關人士交談，跨過學生與業界之間的鴻溝！
      .col-md-12
        .col-md-6.col-sm-12

          img.ac(src="https://ymj-cty12.github.io/cty12/img/8.jpg", alt="")

          h2 產業沙龍
          p 邀請八個已有耀眼成績的創業團隊，透過五分鐘短講介紹團隊與創業歷程甘苦談，接著再進行分桌活動，創業家們將與學員面對面交流，使學員更加了解新創的創業環境與前景趨勢。
        .col-md-6.col-sm-12


          img.ac(src="https://ymj-cty12.github.io/cty12/img/2.jpg", alt="")
          h2 Farewell Party
          p 經過四天的疲累轟炸後，Farewell Party 是放鬆交友的最佳場合！精緻的饗宴夾雜刺激的小遊戲，瞬間減少學員間彼此的距離，為整個CTY，留下最難忘的一晚！

      

      
  
      








section#section_courses
  .container
    .row
      .col-sm-12
       h1 課程介紹
       hr
      .col-md-12.col-sm-12
        .col-md-4.cs.cs1
          .img_wrap
            img.img1(src="https://images.unsplash.com/photo-1483009361514-e08892350caa?dpr=1.25&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=", alt="")
          h3 商務溝通與表達
          h4 懸停或點擊看課程介紹
          
          p 將重點放在如何在商業世界中，理解客戶、上級、合作廠商等人物在言談中可能夾帶的言外之意，並在表達自身想法和理念時，精確挑選出有效的資訊，幫助自己完整並精確地表達。
        .col-md-4.cs.cs2
          .img_wrap
            img.img1(src="https://images.unsplash.com/1/irish-hands.jpg?dpr=1.25&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=", alt="")
          h3 簡報設計
          h4 懸停或點擊看課程介紹

          p 好不容易想好提案卻不知道怎麼呈現嗎？簡報是一段與觀眾對話、交流溝通的過程。「簡報設計」讓你學會有條理地建構敘述的邏輯思維，把提案做最好的呈現！


        .col-md-4.cs.cs3
          .img_wrap    
            img.img3(src="https://images.unsplash.com/photo-1431605695381-f4a9c3cdd150?dpr=1.25&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=", alt="")
          h3 資訊圖像化
          h4 懸停或點擊看課程介紹
          p 掌握設計資訊的本領，才能讓自己的想法從資訊海中突圍而出！「資訊圖像化」，讓你學會系統思考去解構事物間的邏輯關係，並找出最適合的方式將其圖像化，提高內容的價值力與影響力！
      .col-sm-12
        .col-md-4.cs.cs4
         .img_wrap.wrap4    
           img.img4(src="//c1.staticflickr.com/6/5247/5339252759_3980fec4f3_b.jpg", alt="")
         h3 籌資力
         h4 懸停或點擊看課程介紹
         p 你想過創業嗎？那你不能不知「籌資」的重要性！我們邀請業界人士，以專業投資人的立場，從籌資的目的、管道到實際作法，打造你的新創軟實力！


        .col-md-4.cs.cs5
          .img_wrap.wrap5    
            img.img5(src="https://images.unsplash.com/photo-1489370603040-dc6c28a1d37a?dpr=1.25&auto=format&fit=crop&w=767&h=432&q=80&cs=tinysrgb&crop=", alt="")
          h3 品牌行銷
          h4 懸停或點擊看課程介紹

          p 想在短時間內快速抓住消費者的目光嗎？想在產業界迅速打出自己的獨特性並累積源源不絕的忠實顧客嗎？本次論壇重量級的嘉賓—知名廣告界的資深經理，帶你揭開行銷品牌界的神秘面紗！
        .col-md-4.cs.cs6
          .img_wrap.wrap6    
            img.img6(src="https://images.unsplash.com/photo-1455133332007-a0956e4fde21?dpr=1.25&auto=format&fit=crop&w=767&h=512&q=80&cs=tinysrgb&crop=", alt="")
          h3 設計思考工作坊
          h4 懸停或點擊看課程介紹

          p 設計思考為時下企業界與設計界熱切關注的一個議題，是一個以人為本的思考方法，為各種問題尋找創新解決方案，並創造更多的可能性


        
section#section_internship
  .container
    .row
      .col-md-12.col-sm-12
        h1.title 實習計畫
        h3.title YMJ12回顧
        hr
      
      .col-md-6.col-sm-12
        
          h3.intern.i1 提攜人計畫及直屬計畫
          
          h3.intern.i2 跨視際青年論壇FVY
          
          h3.intern.i3 玉山青年菁英論壇CTY
          
          h3.intern.i4 對內課程培訓計畫
          
          h3.intern.i5 海外交流與參訪
          
          h3.intern.i6 協助協會日常行政事務
          
          h3.intern.i7 參與協會大型論壇活動
        
      .col-md-6.col-sm-12
        .discrition_wrap
          .discription_img
        
        .discription_text
        





section#section_CTY12
  .container
    .row
      .col-sm-12
        h1 主辦單位
        hr
      
      .col-sm-6
        .img_wrap
      
          img.top1(src="https://ymj-cty12.github.io/cty12/img/3.jpg", alt="")
        .img_wrap1
          img.logo.logo1(src="http://cty-ymj.rhcloud.com/img/mj_logo.jpg", alt="")
        .col-sm-12          
        h3 台灣玉山科技協會
        p 1990年，「玉山科技協會」於美國聖荷西成立，以台灣第一高峰「玉山」為名，象徵華人企業家源遠流長及追求卓越的精神。<br>2001年，在創會理事長劉兆玄先生號召下，「台灣玉山科技協會」匯集台灣頂尖企業與學術菁英，正式成立，以<span>成為實踐全球華人知識經濟共同體之平台</span>為宗旨。 為培育下一代領導菁英，台灣玉山科技協會成立分支機構青年玉山及小玉山，讓年輕一代得以從創新、多元的角度發揮自我價值，擴大學習領域。
       
      
      .col-sm-6    
        .img_wrap
          img.top2(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t31.0-8/17504247_1596312023730032_8949311541278515031_o.jpg?oh=aed6b7daa654914c4783bcaa1c226591&oe=5966D5B8", alt="")
        
        .img_wrap1
          img.logo.logo2(src="https://ymj-cty12.github.io/cty12/img/11.png", alt="")
        h3 小玉山分支機構
        p 小玉山分支機構由台灣玉山科技協會實習生所組成，於2010年9月成立，並正式命名為「台灣小玉山分支機構」。而<span>小玉山實習計畫需參與過 CTY玉山青年菁英論壇</span>，並提出申請、繳交簡歷、通過面試，經過一連串之篩選後方可成為小玉山實習生。<br><br> 小玉山分支機構提供青年學子拓展產業視野，認識產、官、學等優秀人才的機會，幫助自我未來職涯發展與各國分會交流，拓展國際觀，成為傑出的領導者並與世界接軌。
        

section#section_team
  .container
    .row
      .col-sm-12
        h1 籌備團隊
        hr
      .col-md-6.col-sm-6
        .img_wrap.top
          
          img.img1(src="https://github.com/ymj-cty12/cty12/blob/master/team/01.jpg?raw=true", alt="")
          .image-caption-wrapper
            .image-caption
               p 總召 李尚靜<br> 交通大學運管系 
         
      .col-md-6.col-sm-6
        .img_wrap.top
          img.img2(src="https://github.com/ymj-cty12/cty12/blob/master/team/02.jpg?raw=true", alt="")
          .image-caption-wrapper
            .image-caption
               p 副召 林哲毅<br> 政治大學金融系 
      .col-sm-12
      .col-md-4.col-sm-6
        .img_wrap
          img.img3(src="https://github.com/ymj-cty12/cty12/blob/master/team/03.jpg?raw=true", alt="")
          .image-caption-wrapper
            .image-caption
               p 公關組組長 錢建志<br> 臺灣大學生物環境系統工程學系 

      .col-md-4.col-sm-6
        .img_wrap
          img.img4(src="https://github.com/ymj-cty12/cty12/blob/master/team/04.jpg?raw=true", alt="")
          .image-caption-wrapper
            .image-caption
               p 公關組 莊喬雅<br> 臺灣大學會計系 
      .col-md-4.col-sm-6
        .img_wrap
          img.img5(src="https://github.com/ymj-cty12/cty12/blob/master/team/05.jpg?raw=true", alt="")
          .image-caption-wrapper
            .image-caption
               p 公關組 吳詩婷<br> 臺灣大學會計系 

      .col-md-4.col-sm-6
        .img_wrap    
          img.img6(src="https://github.com/ymj-cty12/cty12/blob/master/team/06.jpg?raw=true", alt="")
          .image-caption-wrapper
            .image-caption
               p 招生組組長 謝明璇<br> 政治大學企業管理學系 
      .col-md-4.col-sm-6
        .img_wrap    
          img.img7(src="https://github.com/ymj-cty12/cty12/blob/master/team/07.jpg?raw=true", alt="")
          .image-caption-wrapper
            .image-caption
               p 招生組 徐戎<br> 政治大學英國語文學系 
      .col-md-4.col-sm-6
        .img_wrap   
          img.img8(src="https://github.com/ymj-cty12/cty12/blob/master/team/08.jpg?raw=true", alt="")
          .image-caption-wrapper
            .image-caption
               p 招生組 游舒涵<br> 台灣大學會計系 
      .col-md-4.col-sm-6
        .img_wrap
          img.img9(src="https://github.com/ymj-cty12/cty12/blob/master/team/09.jpg?raw=true", alt="")
          .image-caption-wrapper
            .image-caption
               p 招生組 徐瑜苹<br> 台灣大學工商管理學系 

      .col-md-4.col-sm-6
        .img_wrap.wrap_10
         img.img10(src="https://github.com/ymj-cty12/cty12/blob/master/team/10.jpg?raw=true", alt="")
         .image-caption-wrapper
            .image-caption
               p 設計組組長 徐若華<br> 臺灣大學生物產業傳播暨發展學系 
      .col-md-4.col-sm-6
        .img_wrap
         img.img11(src="https://github.com/ymj-cty12/cty12/blob/master/team/11.jpg?raw=true", alt="")
         .image-caption-wrapper
            .image-caption
               p 設計組 王思婷<br> 臺灣大學政治學系 
      .col-md-4.col-sm-6
        .img_wrap
         img.img12(src="https://github.com/ymj-cty12/cty12/blob/master/team/12.jpg?raw=true", alt="")
         .image-caption-wrapper
            .image-caption
               p 設計組 黃星瑀<br> 政治大學金融系 
      .col-md-4.col-sm-6
        .img_wrap
         img.img13(src="https://github.com/ymj-cty12/cty12/blob/master/team/13.jpg?raw=true", alt="")
         .image-caption-wrapper
            .image-caption
               p 設計組 黃傲天<br> 臺灣大學圖書資訊學系 
     
      .col-md-4.col-sm-6
        .img_wrap
          img.img14(src="https://github.com/ymj-cty12/cty12/blob/master/team/14.jpg?raw=true", alt="")
          .image-caption-wrapper
            .image-caption
               p 宣傳組組長 陳愛鈞<br> 臺北大學公共行政暨政策學系 
      .col-md-4.col-sm-6
        .img_wrap
          img.img15(src="https://github.com/ymj-cty12/cty12/blob/master/team/15.jpg?raw=true", alt="")
          .image-caption-wrapper
            .image-caption
               p 宣傳組 林妤璠<br> 臺灣大學財務金融學系 
      .col-md-4.col-sm-6
        .img_wrap
          img.img16(src="https://github.com/ymj-cty12/cty12/blob/master/team/16.jpg?raw=true", alt="")
          .image-caption-wrapper
            .image-caption
               p 宣傳組 劉博仁<br> 政治大學經濟學系 

      .col-md-4.col-sm-12
        .img_wrap
          img.img17(src="https://github.com/ymj-cty12/cty12/blob/master/team/17.jpg?raw=true", alt="")
          .image-caption-wrapper
            .image-caption
               p 宣傳組 周正欣<br> 交通大學機械工程學系 

          
          
        
        
        
        
//- section#QA
//-   .container
//-     .row
//-       .col-sm-12
//-         h1 報名須知
//-         hr
        

        
footer.jumbotron
  
  .container
    .img_wrap    
      img(src="https://ymj-cty12.github.io/cty12/img/5.png", alt="")
    a.button(title="面試報名至4/26，筆試報名至5/7!!",href="https://www.himelight.com/org/cty, target='_new'") 立即報名
 
